body {
  font-size:100%;
  line-height:1.5;
  background: #f1f1f1;
}

.login {
  margin: 5% auto;
  width: 55vh;
  padding: 30px 25px;
  background: white;
  border: 1px solid #c4c4c4;
}

h1.login-title {
  margin: -28px -20px 25px;
  padding: 25px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  text-align:center;
  background: #ADADAD;
 
}

.login-input {
  width: 49vh;
  height: 50px;
  margin-bottom: 50px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
  }
.login-button {
    margin-bottom: 1em;
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}

.login-lost
{
  text-align:center;
  margin-bottom:0px;
}

.login-lost a
{
  color:#666;
  text-decoration:none;
  font-size:13px;
}
.botn {
  background: #1fab24;
  background-image: -webkit-linear-gradient(top, #1fab24, #038c07);
  background-image: -moz-linear-gradient(top, #1fab24, #038c07);
  background-image: -ms-linear-gradient(top, #1fab24, #038c07);
  background-image: -o-linear-gradient(top, #1fab24, #038c07);
  background-image: linear-gradient(to bottom, #1fab24, #038c07);
  font-family: Arial;
  color: #fcfcfc;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.botn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


